
/*****
Team Members:
Caleb Whitlow, Allen Folz, Nhat Le, Nick Schneider
******/

html {
    background-color: yellow;
    scroll-behavior: smooth;
}

body {
    background-color: red; 
}

a {
    color: blue;
}

