
/*****
Team Members:
Caleb Whitlow, Allen Folz, Nhat Le, Nick Schneider
******/

/******************************* General Tags Styling *******************************/
html {
    scroll-behavior: smooth;
}

body {
    background-color:white; 
}

/******************************* Contact Banner *******************************/
.contact-banner{
    background-color: grey;
    color: white;
    width: 100%;
    padding-left: 150px;
    top: 0;
    position: fixed;
    height: 25px;
}

.contact-banner a{
    color: white;
}

.contact-banner i{
    margin-left: 10px;
}

/******************************* Navigation *******************************/
nav{
    background-color: black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    margin-top: 25px;
}

.nav-link{
    color: white;
}

/******************************* Landing/Homepage Header *******************************/
.landing{
    background-image: url("Images/logo-size-fix2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 20vw;  
    margin-top: 84px;
}

/******************************* Page *******************************/
.page{
    width: 80%;
    min-height: 50vw; /* vw =view window */
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 2vw;
    padding: 50px;
    background-color: darkgrey;
}

/******************** Content ********************/
.content{
    
}

/******************************* Modal *******************************/
.modal-title{
    color: black;
}

.modal-body{
    padding: auto 50px;
    color: black;
}

.modal-body h7{
    margin-bottom: 20px;
    color: black;
}

/******************************* Footer *******************************/
.page-footer{
    background-color: black;
    color: white;
}

.page-footer a{
    color: white;
}

/******************************* MTG Products Page *******************************/
#mtg-page{
    background-image: url("Images/magic-walkers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    width: 100%;
    margin: auto;
}


#mtg-banner{
    background-image: url("Images/magic-walkers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 22vw;
}

#mtg-pageInfo{
    background-color: white;
    padding: 40px;
    min-height: 50vw;
}

/******************************* Carousel *******************************/
.carousel{
    max-width: 90%;
    margin: auto;
}

.carousel-inner{
    height: 400px;
}

.carousel-item h2{
    text-align: right;
    margin-right: 440px;
}

.carousel-img{
    width: 100%;
}

.carousel-indicators li{
    background-color: black;
}

/************************* Carousel Card *************************/
.card{
    border: none;
}

.card-title{
    margin-left: 20px;
}

.card-text{
    width: 80%;
    margin-left: 40px;
}